@use 'src/utility/style/mixin.scss' as *;

.parent {
    height: 100%;
    @include center-of-row;

    > div {
        width: max-content;
        color: gray;
        box-sizing: border-box;
        padding: 0 5px;
        @include center-of-row;
    }

    > audio {
        max-width: 100%;
    }
}
