@use 'src/utility/style/mixin.scss' as *;

.parent {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;

    > svg:nth-child(1) {
        width: 100%;
        height: 100%;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;

        > circle:nth-child(1) {
            cursor: pointer;
            fill: rgb(233, 233, 233);
        }

        > circle:nth-child(2) {
            background-color: black;
        }
    }

    > svg:nth-child(2) {
        width: 300%;
        height: 100%;
        position: absolute;
        top: 25px;
        left: -100%;
        z-index: 1;
    }
}
