@use 'src/utility/style/mixin.scss' as *;

.parent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(161, 161, 161, 0.3);
    @include center-of-rectangle;
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease-in-out;

    &.opacity {
        opacity: 1;
    }

    &.display {
        display: flex;
    }

    > .main {
        background-color: white;
        width: 300px;
        border-radius: 15px;

        @include responsive(sm) {
            width: 80%;
        }

        > .closeContainer {
            display: flex;
            justify-content: flex-end;
            box-sizing: border-box;
            padding: 5px;

            > svg {
                cursor: pointer;
            }
        }

        > .contentContainer {
            box-sizing: border-box;
            padding: 5px;

            > .header {
                font-weight: 600;
                margin-bottom: 10px;
                @include center-of-rectangle;
            }

            > .avatarContainer {
                height: 150px;
                width: 100%;
                box-sizing: border-box;
                padding: 10px;

                > .box {
                    height: 100%;
                    width: 100%;
                    background-color: rgb(233, 233, 233);
                    border-radius: 10px;
                    @include center-of-rectangle;
                    position: relative;

                    > svg {
                        position: absolute;
                        top: 5px;
                        right: 5px;
                    }

                    > .btn {
                        box-sizing: border-box;
                        padding: 5px 10px;
                        border-radius: 10px;
                        background-color: white;
                        user-select: none;
                        cursor: pointer;

                        &:active {
                            background-color: rgb(247, 247, 247);
                        }
                    }

                    > input {
                        display: none;
                    }

                    > .avatar {
                        width: 130px;
                        height: 130px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }

            > .nameContainer {
                @include center-of-row;
                justify-content: space-around;

                > input {
                    width: 120px;
                    box-sizing: border-box;
                    padding: 5px 10px;
                    border-radius: 10px;
                    outline: none;
                    border: none;
                    background-color: rgb(240, 240, 240);
                }
            }
        }

        > .buttonContainer {
            display: flex;
            justify-content: space-around;
            box-sizing: border-box;
            padding: 10px;

            > button {
                width: 80px;
                height: 30px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }

            > button:nth-child(1) {
                background-color: rgb(177, 255, 190);

                &:active {
                    background-color: rgb(233, 233, 233);
                }
            }

            > button:nth-child(2) {
                background-color: rgb(255, 216, 216);

                &:active {
                    background-color: rgb(233, 233, 233);
                }
            }
        }
    }
}
