@use 'src/utility/style/mixin.scss' as *;

.parent {
    box-sizing: border-box;
    padding: 5px;
    @include center-of-row;

    > .main {
        width: 100%;
        @include center-of-row;
        justify-content: space-between;

        > .checkbox1,
        .checkbox2 {
            @include center-of-row;

            > div {
                font-size: 0.8rem;
            }
        }

        > .checkbox1 {
            > div {
                color: red;
                text-decoration: line-through;
            }
        }

        > .checkbox2 {
            > div {
                color: blue;
            }
        }

        > .searchContainer {
            @include center-of-row;

            > input {
                box-sizing: border-box;
                padding: 3px;
                border: none;
                outline: none;
                border-bottom: 1px solid gray;
                width: 120px;
            }

            > svg {
                cursor: default;
            }
        }
    }
}
