@use 'src/utility/style/mixin.scss' as *;

.parent {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 150px;
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index: 100;

    > .logoZtks {
        height: 80px;
        @include center-of-rectangle;

        > img {
            height: 60px;
            aspect-ratio: 1/1;
        }
    }

    > .options {
        flex: 1;

        > div {
            @include center-of-rectangle;
            height: 50px;
            width: 100%;
            cursor: default;
            user-select: none;

            &:hover {
                background-color: rgb(231, 231, 231);
            }

            &.selected {
                background-color: rgb(231, 231, 231);
            }
        }
    }

    > .avatar {
        height: 80px;
        @include center-of-rectangle;

        > img {
            height: 60px;
            aspect-ratio: 1/1;
        }
    }
}
