@use 'src/utility/style/mixin.scss' as *;

.parent {
    box-sizing: border-box;
    border-bottom: 1px solid gray;

    > .money {
        @include center-of-rectangle;
        height: 70px;
        width: 100%;
        font-size: 1.2rem;
        color: blue;
    }

    > .transfer {
        @include center-of-row;
        justify-content: flex-end;

        > div {
            width: 50%;
            @include center-of-rectangle;
            box-sizing: border-box;
            padding: 5px;
            cursor: pointer;
            user-select: none;
            background-color: rgb(255, 219, 219);
            border-top-left-radius: 20px;

            &:hover {
                background-color: rgb(255, 241, 241);
            }

            &:active {
                background-color: rgb(255, 181, 181);
            }
        }
    }
}
