@use 'src/utility/style/mixin.scss' as *;

.parent {
    width: 100%;
    box-sizing: border-box;
    @include center-of-row;
    background-color: white;
    box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.15);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    > div {
        width: calc(100% / 6);
        aspect-ratio: 1/1;
        @include center-of-rectangle;
        cursor: pointer;
        border-radius: 50%;
        transition:
            transform 1s linear,
            background-color 1.5s linear,
            color 1.5s linear;

        &:hover {
            background-color: rgb(231, 231, 231);

            > svg {
                scale: 1.1;
            }
        }

        &.selected {
            background-color: black;
            color: white;
            transform: translateY(-10px);
        }

        > svg {
            height: 25px;
            width: 25px;
        }

        > .zns {
            font-weight: 800;
        }
    }
}
