@use 'src/utility/style/mixin.scss' as *;

.parent {
    background-color: rgb(238, 238, 238);
    margin: 10px 0;
    border-radius: 10px;
    overflow: hidden;

    > .header {
        @include center-of-row;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 5px;

        > div:nth-child(2) {
            @include center-of-row;

            > div:nth-child(1) {
                font-size: 0.9rem;
                font-style: italic;
                background-color: rgb(206, 206, 206);
                border-radius: 5px;
                box-sizing: border-box;
                padding: 5px;
                margin: 0 5px;
            }

            > div:nth-child(2) {
                background-color: blue;
                color: white;
                border-radius: 5px;
                box-sizing: border-box;
                padding: 5px;
                margin: 0 5px;
                cursor: pointer;
                border: 1px solid blue;
                user-select: none;

                &:hover {
                    box-shadow: 0 0 5px rgba(17, 59, 248);
                }

                &:active {
                    background-color: white;
                }
            }
        }
    }

    > .content {
        box-sizing: border-box;
        padding: 10px;
    }

    > .expiry {
        @include center-of-row;
        justify-content: flex-end;
        font-size: 0.9rem;
        font-style: italic;
        box-sizing: border-box;
        padding: 5px;
        color: gray;
    }

    > .infor {
        @include center-of-row;
        justify-content: space-between;
        height: 60px;
        box-sizing: border-box;
        padding: 5px;

        > div:nth-child(1) {
            @include center-of-row;
            height: 60px;

            > img {
                height: 60px;
                width: 60px;
                border-radius: 50%;
                box-sizing: border-box;
                padding: 5px;
            }

            > div {
                box-sizing: border-box;
                padding: 5px;
            }
        }

        > div:nth-child(2) {
            @include center-of-rectangle;

            > button {
                box-sizing: border-box;
                padding: 5px;
                border-radius: 5px;
                background-color: red;
                border: 1px solid red;
                color: white;
                user-select: none;

                &:active {
                    background-color: white;
                    color: red;
                }
            }
        }
    }

    > .add {
        @include center-of-rectangle;
        height: 50px;

        > svg {
            cursor: pointer;
            background-color: rgb(212, 212, 212);
            border-radius: 50%;

            &:hover {
                scale: 1.1;
            }
        }
    }

    > .btn {
        background-color: rgb(206, 206, 206);
        box-sizing: border-box;
        padding: 5px;
        @include center-of-rectangle;
        cursor: pointer;
        user-select: none;

        &:hover {
            background-color: rgb(187, 187, 187);
        }
    }
}
