@use 'src/utility/style/mixin.scss' as *;

.parent {
    background-color: #eee;
    @include center-of-column;
    // margin: 10px 0;

    > .main {
        background-color: white;
        width: 350px;
        height: 100vh;
        display: flex;
        flex-direction: column;

        @include responsive(sm) {
            width: 100%;
        }

        > .header {
            box-sizing: border-box;
            padding: 10px;
            @include center-of-row;
            justify-content: space-between;
            background-color: #27a4f2;
            position: sticky;
            top: 0;

            > div {
                font-size: 1.1rem;
                font-weight: 600;
                color: white;
            }
        }

        > .list {
            width: 100%;
            flex: 1;
            overflow-y: scroll;
            @include small-scroll-yy(3px);
            display: flex;
            flex-direction: column-reverse;
        }

        > .headerTab {
            position: sticky;
            bottom: 0;
        }
    }
}
