@use 'src/utility/style/mixin.scss' as *;

.parent {
    @include center-of-row;
    align-items: stretch;
    margin: 10px 0;

    > .main {
        @include center-of-row;
        align-items: stretch;
        width: 80%;

        > .avatarContainer {
            width: 30px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            > .avatar {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                overflow: hidden;
            }
        }

        > .contentContainer {
            width: max-content;
            max-width: calc(100% - 30px);

            > .content {
                background-color: rgb(243, 243, 243);
                box-sizing: border-box;
                border-radius: 10px;
                padding: 5px;
                width: max-content;
                max-width: calc(100% - 30px);

                > .image {
                    max-width: 100%;
                    // width: max-content;
                    // height: 50px;
                }
            }

            > .status {
                font-size: 0.8rem;
                color: gray;
            }
        }
    }
}
