@use 'src/utility/style/mixin.scss' as *;

.parent {
    flex: 1;
    overflow-y: scroll;
    @include small-scroll-yy(3px);

    > .total {
        box-sizing: border-box;
        padding: 10px;
        color: rgb(162, 0, 255);
    }

    > .list {
        margin: 10px 0;
        padding: 10px;

        > .aVoucher {
            position: relative;
            height: 70px;
            box-sizing: border-box;
            padding: 15px;
            border-radius: 10px;
            background-color: rgb(227, 255, 255);
            margin: 5px 0;

            > .index {
                position: absolute;
                top: 0;
                right: 5px;
                font-size: 0.9rem;
            }

            > .voucherContent {
                height: 100%;
                @include center-of-row;
                justify-content: space-between;

                > div:nth-child(1) {
                    color: blue;
                }

                > div:nth-child(2) {
                    color: gray;
                    font-size: 0.9rem;
                }
            }

            > .isUsed {
                position: absolute;
                bottom: 0;
                right: 5px;
                font-size: 0.9rem;

                > .not {
                    color: red;
                }

                > .ed {
                    color: blue;
                }
            }
        }
    }

    > .seeMore {
        box-sizing: border-box;
        padding: 10px;

        > div {
            color: blue;
            cursor: pointer;
            user-select: none;
            @include center-of-rectangle;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
