@use 'src/utility/style/mixin.scss' as *;

.parent {
    background-color: #eee;

    > .main {
        @include center-of-row;

        > .main1 {
            margin-left: 200px;
            width: 65%;
            background-color: white;
        }

        > .main2 {
            margin-left: 50px;
            width: 25%;
            background-color: white;
        }
    }
}
