@use 'src/utility/style/mixin.scss' as *;

.parent {
    background-color: #eee;

    > .main {
        @include center-of-row;

        > .main1 {
            margin-left: 200px;
            width: 80%;
            background-color: white;
        }

        // > .main2 {
        //     margin-left: 50px;
        //     flex: 1;
        //     background-color: white;
        // }
    }
}
