@use 'src/utility/style/mixin.scss' as *;

.parent {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 15px;

    > .index {
        position: absolute;
        top: 5px;
        left: 5px;
        color: white;
    }

    > svg {
        position: absolute;
        color: white;
        width: 25px;
        height: 25px;
        top: 5px;
        right: 5px;
        cursor: pointer;
        z-index: 2;
    }

    > video {
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 1;
    }
}
