@use 'src/utility/style/mixin.scss' as *;

.parent {
    box-sizing: border-box;
    padding: 10px;
    @include center-of-row;
    height: 70px;
    cursor: default;

    &:hover {
        background-color: rgb(236, 236, 236);
    }

    > .amount {
        width: 50%;
        height: 100%;
        @include center-of-row;

        &.iColor {
            color: blue;
        }

        &.dColor {
            color: red;
        }
    }

    > .infor {
        width: 50%;
        height: 100%;

        > .type {
            @include center-of-rectangle;
            height: 50%;
            font-size: 0.9rem;
        }

        > .hook {
            @include center-of-rectangle;
            height: 50%;
            font-size: 0.9rem;

            &:hover {
                text-decoration: underline;
                color: rgb(0, 238, 255);
            }
        }
    }
}
