@use 'src/utility/style/mixin.scss' as *;

.parent {
    box-sizing: border-box;
    padding: 10px;

    > .overview {
        width: 100%;
        @include center-of-row;

        > div {
            box-sizing: border-box;
            padding: 5px;
        }

        > .index {
            width: 50px;
            @include center-of-rectangle;
        }

        > .money {
            flex: 1;
            color: blue;
        }

        > .account {
            width: 300px;
        }

        > .isDo {
            width: 150px;
            @include center-of-rectangle;

            &.do {
                color: rgb(0, 255, 34);
            }

            &.notDo {
                color: red;
            }
        }

        > .doTime {
            width: 150px;
            @include center-of-rectangle;
            color: gray;
            font-size: 0.9rem;
            font-style: italic;
        }

        > .btn {
            width: 100px;
            @include center-of-rectangle;

            > .button {
                background-color: rgb(255, 158, 68);
                box-sizing: border-box;
                border: 1px solid rgb(255, 158, 68);
                padding: 5px 10px;
                border-radius: 10px;
                user-select: none;

                &:active {
                    background-color: white;
                }
            }

            > .txt {
                color: rgb(255, 158, 68);
            }
        }
    }

    > .detail {
        width: 100%;

        > .header {
            width: 100%;
            @include center-of-row;
            justify-content: flex-end;

            > div {
                width: max-content;
                @include center-of-row;
            }
        }

        > .content {
            width: 100%;
            max-height: 0;
            overflow-y: auto;
            @include center-of-rectangle;
            transition: max-height 0.3s linear;

            &.show {
                max-height: 600px;
            }

            > div {
                font-size: 1.3rem;
                color: blue;
                font-weight: 800;
            }
        }
    }
}
